[Desktop Entry]
Version=1.0
Type=Application
Exec=xfce4-appfinder
Icon=@HOME@/.icons/vault-dock/dock-apps.png
StartupNotify=true
Terminal=false
Categories=Utility;X-XFCE;
Name=Apps
Comment=Find and launch applications
