[Desktop Entry]
Name=Vault.OS Arch Spin (helper)
Comment=Y-axis Arch code mark for lock/screensaver
Exec=vaultos-spin-lock-run
TryExec=vaultos-spin-lock-run
Type=Application
NoDisplay=true
