button-title=VAULT
button-icon=xfce4-whiskermenu
launcher-show-name=true
launcher-show-description=false
launcher-show-tooltip=false
item-icon-size=2
category-icon-size=2
menu-width=320
menu-height=420
position-search=0
position-commands=1
position-categories=0
recent-items-max=10
favorites-in-recent=true
view-mode=0
hover-switch-category=false
category-show-name=true
load-hierarchy=false
